.red{
    height:50px;
    background-color:#ff0400;
}
.blue{
    height:50px;
    background-color:#1900ff;
}
.yellow{
    height:50px;
    background-color:#ffff00;
}
.orange{
    height:50px;
    background-color:#ff7300;
}
.green{
    height:50px;
    background-color:#09ff00;
}
.purple{
    height:50px;
    background-color:#8c00ff;
}
.yellowgreen{
    height:50px;
    background-color:#d0ff00;
}
.yelloworange{
    height:50px;
    background-color:#ffbb00;
}
.bluegreen{
    height:50px;
    background-color:#00ff95;
}
.redorange{
    height:50px;
    background-color:#ff4d00;
}
.blueviolet{
    height:50px;
    background-color:#5500ff;
}
.redviolet{
    height:50px;
    background-color:#ff00e1;
}
.teal{
    height:50px;
    background-color:#00ffff;
}
.electricindigo{
    height:50px;
    background-color:#5e2bff;
}
.noenviolet{
    height:50px;
    background-color:#c04cfd;
}
.hotpink{
    height:50px;
    background-color:#fc6dab;
}
.cream{
    height:50px;
    background-color:#f7f6c5;
}
.beige{
    height:50px;
    background-color:#f3fae1;
}
.color1{
    height:50px;
    background-color:#2d00f7;
}
.color2{
    height:50px;
    background-color:#6a00f4;
}
.color3{
    height:50px;
    background-color:#8900f2;
}
.color4{
    height:50px;
    background-color:#a100f2;
}
.color5{
    height:50px;
    background-color:#b100e8;
}
.color6{
    height:50px;
    background-color:#bc00dd;
}
.color7{
    height:50px;
    background-color:#d100d1;
}
.color8{
    height:50px;
    background-color:#db00b6;
}
.color9{
    height:50px;
    background-color:#e500a4;
}
.color10{
    height:50px;
    background-color:#f20089;
}
.color11{
    height:50px;
    background-color:#fbf8cc;
}
.color12{
    height:50px;
    background-color:#fde4cf;
}
.color13{
    height:50px;
    background-color:#ffcfd2;
}
.color14{
    height:50px;
    background-color:#f1c0e8;
}
.color15{
    height:50px;
    background-color:#cfbaf0;
}
.color16{
    height:50px;
    background-color:#a3c4f3;
}
.color17{
    height:50px;
    background-color:#90dbf4;
}
.color18{
    height:50px;
    background-color:#8eecf5;
}
.color19{
    height:50px;
    background-color:#98f5e1;
}
.color20{
    height:50px;
    background-color:#b9fbc0;
}
.font1 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
.font2 {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}
.font3 {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
}
body {
    background-color:#ffdffe
}